@import url("https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap");

* {
    font-family: "Quicksand", sans-serif;
    font-size: xx-large;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    padding: 70px;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.add {
    display: flex;
    flex-direction: row;
}

.add-to-do {
    padding-top: 50px;
    padding-right: 10px;
}

.form-add {
    width: 400px;
}

.button {
    padding-left: 75px;
}