@import url("https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap");

* {
    font-family: "Quicksand", sans-serif;
    font-size: xx-large;
    margin: 0;
    padding: 0;
}

h1 {
    margin-top: 20px;
}

.container {
    display: flex;

    align-items: center;
    flex-direction: column;
    background-color: silver;
    height: 100vh;
}

.list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.input {
    margin-top: 30px;
    margin-bottom: 20px;
}

#input-todo {
    padding: 10px;
    font-size: 20px;
    margin-bottom: 2px;
}

.todo {
    margin-right: 30px;
    padding: 10px;
    font-size: 20px;
    margin-bottom: 2px;
}

button {
    font-size: 20px;
    padding: 10px;
    opacity: 0.8;
    background-color: red;
    color: white;
    border-radius: 5px;
    margin-bottom: 2px;
}

button:hover {
    opacity: 1;
    background-color: red;
    cursor: pointer;
}